$white-700: #f5f5f5;
$white-800: #f1f3f4;
$white-900: #ffffff;

$red-300: #e57373;
$red-400: #e04545;
$red-500: #e04242;
$red-600: #e53935;
$red-700: #e3120e;

$yellow-300: #ffecb3;

$orange-300: #FFCC80;
$orange-600: #ff9800;

$green-300: #93eda4;
$green-600: #43a047;
$green-700: #689f38;

$blue-300: #9bc9ff;

$mint-200: #e3fff8;
$mint-300: #a7fce5;
$mint-500: #35deb6;
$mint-600: #31d0aa;
$mint-700: #2ebd9b;
$mint-800: #279f83;

$mint-gray-100: #e3eae9;
$mint-gray-200: #e5e5e5;
$mint-gray-300: #90aea9;
$mint-gray-600: #446958;

$gray-100: #eceff1;
$gray-900: rgba(33, 33, 33, 0.87);

$black-700: #333333;
$black-900: #000000;

$shadow-500: rgba(54, 245, 191, 0.24);
$shadow-600: rgba(54, 245, 191, 0.32);
$shadow-900: rgba(8, 35, 48, 0.24);
